.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }


.shadowed {
	-webkit-filter: drop-shadow( 5px 5px 2px rgba(0, 0, 0, .7));
	filter: drop-shadow( 5px 5px 2px rgba(0, 0, 0, .7));
	width: auto;
	height: auto;
	max-width: 70%;
	max-height: 100%;
	padding: 10px 10px 10px 10px;
}



body, html {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	overflow: auto;
	background: rgb(68, 77, 86);
}

.modal-body {
	background: rgb(47, 51, 56);
}

.modal-header {
	background: rgb(39, 42, 45);
	color: white;
	border-bottom: 0px;
	border-top-left-radius: 0rem;
	border-top-right-radius: 0rem;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}